/* Fonts */
@font-face {
    src: url("../resources/fonts/BerkshireSwash-Regular.ttf") format("truetype");
}

@font-face {
    src: url("../resources/fonts/Alegreya.ttf") format("truetype");
}

/* Global */
* {
    -fx-primaryBgColor: #FFF8E1;
    -fx-secondaryBgColor: #EFDEC6;
    -fx-primaryBorderColor: #DACBA8;
    -fx-primaryHoverColor: #C6B8A5;

    -fx-monopolyBrown: #AC663E;
    -fx-monopolyLightBlue: #ADD8E6;
    -fx-monopolyPink: #E61F93;
    -fx-monopolyOrange: #FFA500;
    -fx-monopolyRed: #FF0000;
    -fx-monopolyYellow: #FFFF00;
    -fx-monopolyGreen: #43B14B;
    -fx-monopolyDarkBlue: #145DA0;

    -fx-font-family: "Berkshire Swash", Arial, Helvetica, sans-serif;
}

.first-bg {
    -fx-background-image: url("../resources/images/background.png");
    -fx-background-size: stretch;
}

.second-bg {
    -fx-background-image: url("../resources/images/background2.png");
    -fx-background-size: stretch;
}

.overlay-bg {
    -fx-background-color: -fx-primaryBgColor;
    -fx-border-radius: 10;
    -fx-border-width: 4;
    -fx-border-color: black;
    -fx-background-radius: 10;
}

.menu-btn, .standard-btn {
    -fx-text-fill: black;
    -fx-background-color: -fx-secondaryBgColor;
    -fx-border-color: -fx-primaryBorderColor;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.standard-btn {
    -fx-min-width: 140px;
    -fx-min-height: 50px;
    -fx-font-weight: bold;
}

/* Main menu */
.menu-btn {
    -fx-min-width: 300px;
    -fx-text-fill: black;
    -fx-font-size: 200%;
    -fx-font-weight: bold;
}

.menu-btn:hover, .standard-btn:hover {
    -fx-background-color: -fx-primaryHoverColor;
    -fx-border-color: transparent;
}

/* Rules */
.rule-section {
    -fx-font-size: 200%;
    -fx-font-weight: bold;
}

.rule-text {
    -fx-font-size: 120%;
}
.scrollpane{
}

/* Join */
.token-inp {
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
    -fx-background-color: -fx-secondaryBgColor;
    -fx-border-color: black;
    -fx-border-width: 4;
    -fx-font-weight: bold;
    -fx-font-size: 36px;
    -fx-font-family: Alegreya, Arial, Helvetica, sans-serif;
}

.token-inp:focused {
    -fx-prompt-text-fill: transparent;
}

/* Popup */
.popup-title {
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.popup-message {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.popup-btn {
    -fx-min-width: 60;
    -fx-min-height: 40;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-color: #EFDEC6;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #DACBA8;
}

.popup-btn:hover {
    -fx-background-color: #C6B8A5;
}
/* Game */
